body {
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    width: 95%;
    max-width: 1440px;
}
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(270, 20%, 96%);
}
.phone-layout{
    padding: 10px;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    margin: 100px 50px 100px 30px;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.screen-layout{
    background-color:  hsl(270, 20%, 96%);
    border-radius: 25px;
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);

}

.app-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px 20px 10px;
    background-image: linear-gradient(to right,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;

}
.curve{

}
.curve::after{
    position: absolute;
    content: ",";
    top: 0;
    left: 20%;
    height: 20px;
    background-color:hsl(0, 0%, 100%) ;
    z-index: 2;
    width: 60%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


}
.user-info-and-back-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-info{
    display: flex;
}
.userpicture img{
    border-radius: 50%;
    width: 40px;
    border: solid white 2px;
    margin-right: 20px;
    margin-left: 10px;
}
.username{
    font-weight: 500;
    color: white;
}
.user-availability{
    margin-top: 5px;
    font-size: 12px;
    color: hsl(276, 100%, 81%);
}
.recipient-side{
    color: hsl(276, 55%, 52%);
    padding: 15px;
    font-size: 12px;
    font-weight: 400;


}
.sender-side{
    color: hsl(271, 15%, 43%);
    font-size: 12px;
    font-weight: 400;
    padding: 15px;

  


}

.media{
    display: flex;
    background-color: transparent;
}
.media img{
    width: 50px;
    margin-right: 10px;
    border-radius: 10px;
}
.payment-plan{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 10px;
    padding: 10px;
    color: hsl(0, 0%, 100%) ;
    background-image: linear-gradient(to left,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 0px;

}
.text-and-submit{
    display: flex;
    align-items: center;
    margin-top: ;
    margin: 20px 10px 10px 10px;
    position: relative;
}
.text-and-submit input{
    flex-grow: 2;
    background-color:hsl(0, 0%, 100%);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}
.submit-button{
    display: grid;
    border: none;
    outline: none;
    background-color: black;
    position: absolute;
    right: 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;

}
ion-icon { 
    color: white;
}
.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }