.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
}
body{
    font-size: 14px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.other-nav-elements{
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

.nav-action a{
    text-decoration: none;
    color: white;
}
header{
    background-color:  hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
    margin: 0 auto;
    padding: 30px;
    padding-right: 80px;
    width: 100%;
    text-align: center;
}
.illustration-intro{
    width: 100%;
}
.header-text{
    width: 60%;
    margin: 0 auto;
}













.footer{
    background-color: hsl(216, 53%, 9%);
    padding: 70px;
    padding-top: 150px;
}