.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    min-width: 300px;
    max-width: 1440px;
    font-size: 1.125em;
    margin: 0 auto;
}
p{
    color:hsl(201, 11%, 66%);
}

h1,h2,h3{
    color: hsl(210, 10%, 33%);

}

header{
    margin: 0 auto;
    text-align: center;
    padding: 100px 50px 100px 50px;
    background-image: url(/clipboard-landing-page-master/images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.header-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.header-button{
    padding: 10px 50px 10px 50px;
    margin: 5px 15px 0px 15px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    outline: none;
}
.header-button:hover{
    cursor: pointer;
}
.button-ios{
    background-color: hsl(171, 66%, 44%);
}
.button-mac{
    background-color: hsl(233, 100%, 69%);
}

.main-body{
    text-align: center;
    margin: 0 auto;
    overflow: hidden;

}
.main-body-card{
    display: flex;
    width: 100%;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-details{
    padding-bottom: 0px;

}
.card-image{
    width: 40%;
    
}
.card-image img{
    width: 100%;
}

 
}
.card-properties p{
    width: 80%
}
.sub-body{
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}
.sub-body-1-image{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
.sub-body-1-image img{
    width: 100%;

}
.sub-elements-flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}
.sub-head-elements{
    margin-top: 40px;
}
.sub-element{
    padding-top: 20px;
    margin: 20px;

}
.clients{
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.call-to-download{
    padding: 40px;
    text-align: center;
}
.call-form{
    text-align: center;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color:hsla(201, 11%, 66%, 10%);
}

.footer-logo img{
    width: 60px;
}
.footer-element{
    width: 280px;
    text-align: center;
}
.footer-element a{
    padding-bottom: 40px;
    text-decoration: none;
    
    color: hsl(210, 10%, 33%);
}
.footer-element a:hover{
    color: hsl(171, 66%, 44%);
}
.push-foot{
    padding-bottom: 50px;
}
.social-icon{
    padding-right: 15px;
}



/*Big screens*/
@media screen and (min-width: 961px){
    .header-text{
        width: 48%;
        text-align: center;
        margin: 0 auto;  
    }
    .main-body-text{
        width: 48%;
        text-align: center;
        margin: 0 auto;  
    }
    .card-image{
        transform: translateX(-15.5%);
    }
    .card-properties{
        text-align: left;
        padding-right: 20px;
    }
    .sub-body-1-image{
        width: 60%;

    }
    .sub-element{
        padding-top: 40px;
        width: 30%;
    }
    .client-logo{
        width: 20%;
        text-align: center;
     }

}
/*Devices from a big tablet to small sized laptop*/
@media screen and (min-width: 768px) and (max-width:960px){
    .main-body-card{
        text-align: center;
        margin: 0 auto;

    }
    .sub-body-1-image{
        padding-top: 40px;
 
    }
    .social{
         width: 100%;
    }
    .footer-logo{
        width: 100%;
    }

}

/* devices between normal android 6.0' phone and tablet*/
@media screen and (min-width: 320px) and (max-width:767px){
    header{
        padding: 50px 35px 50px 35px;
        background-image: url(/clipboard-landing-page-master/images/bg-header-mobile.png);
        background-size: cover;
    }
    .header-button{
        width: 100%;
        margin-top: 10px;
    }
    .sub-body-1-image{
       padding-top: 40px;

    }
    .client-logo{
       width: 100%;
       text-align: center;
       padding-top: 30px;
       padding-bottom: 50px;
    }
    .social{
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 40px;
    }
   
}
 

